<% if current_user.user_type == "admin" %>
  <p>
    <%= link_to "New User", new_user_path %>
  </p>
  <p>
    <%= link_to "All users", users_path %>
  </p>
<% end %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
